.card-container {
  background-color: #121212; /* Dark background */
  color: white; /* Ensure text is readable */
  padding: 2rem;
}

.card {
    background: #1E1E2F; /* Semi-transparent */
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
  }

  
.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /*Limits to 3 lines*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em; /* Adjust based on line height */
  line-height: 1.5em; /* Set line height to control spacing */
}
.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1; /*Limits to 3 lines*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em; /* Adjust based on line height */
  line-height: 1.5em; /* Set line height to control spacing */
}